# Everywhere
.DS_Store

# Maven output directories
/target
/tools/target
/tools/*/target

# /
.project
.classpath

# /common/
/common/.project

# /seed/
/seed/.project

# /tools/
/tools/dist

# /tools/cldr-apps/
/tools/cldr-apps/cldr_db_test
/tools/cldr-apps/build
/tools/cldr-apps/derby.log
/tools/cldr-apps/build.properties
/tools/cldr-apps/cldr-apps.war
/tools/cldr-apps/doc
/tools/cldr-apps/cldr-apps-docs.jar
/tools/cldr-apps/nbbuild
/tools/cldr-apps/dist
/tools/cldr-apps/testing_cldr_home
/tools/cldr-apps/cldr-apps.jar

# /tools/cldr-apps/WebContent/
/tools/cldr-apps/WebContent/Thumbs.db
/tools/cldr-apps/WebContent/srl.jsp
/tools/cldr-apps/WebContent/*.esproj

# /tools/cldr-apps/WebContent/WEB-INF/tmpl/
/tools/cldr-apps/WebContent/WEB-INF/tmpl/r_srltest.jsp

# /tools/cldr-apps/WebContent/js/special/
/tools/cldr-apps/WebContent/js/special/srl.js

# /tools/cldr-unittest/
/tools/cldr-unittest/build.properties
/tools/cldr-unittest/build

# /tools/dist.conf/
/tools/dist.conf/distExcludes.txt

# /tools/cldr-code/
/tools/cldr-code/classes
/tools/cldr-code/*.jar
/tools/cldr-code/build.properties
/tools/cldr-code/out
/tools/cldr-code/build
/tools/cldr-code/dist
/tools/cldr-code/.build.properties.swp
/tools/cldr-code/doc

# ignore temporary config files here
/tools/cldr-apps/src/main/liberty/config/server.env
/tools/cldr-apps/src/main/liberty/config/bootstrap.properties


org.eclipse.wst.common.project.facet.core.xml
/.settings
/tools/cldr-rdf/.settings/org.eclipse.m2e.core.prefs
tools/cldr-code/dependency-reduced-pom.xml
