/*
	Style sheet for web-based Unicode Standard Annexes, Technical Standards and Technical Reports 
	M.Davis and A.Freytag
	
	Last edited: 2015-04-06 AF, 2015-04-15 KW
	removed all "-web" and "-book" suffixes
	
	To use, in <head>... 
	insert:<link REL="stylesheet" HREF="../reports-v2.css" TYPE="text/css">
 */


/* conditional display */
body		{ margin: 0; font-family:  Arial, Geneva, sans-serif;
				color: black; background-color: white; background-repeat:repeat; 
				background-attachment: scroll; background-position: 0%; }
div.body	{ margin: 3em; } 	/* margin for body only */
						 
blockquote	{ margin: 20px; }
/* for quoting from the standard */
blockquote.tus	{ font-size: 11pt; font-family: Times New Roman, serif; }
dt			{ font-style: italic; }
li 			{margin-top: 0.25em; margin-bottom: 0.25em; }
.bb 		 { page-break-before: always; }
.copyright	{ font-size: 75%; }
.codeComment { color: #0000FF; }

/*use these styles for contrastive background coloring associated with specific conventions */
.syntax		{ background-color: #EEEEFF; }
.example	{ background-color: #EEFFEE; }
.values		{ background-color: #FFFFEE; }

/* use these styles for constrastive background coloring with no specific meaning */
.lightblue { background-color: #EEEEFF !important ; }
.medgray 	{ background-color: #C0C0C0 !important ; }
.lightyellow {background-color: #FFFF80 !important ; }
.lightgray    { background-color: #E4E4E4 !important; }  /*not sure we need this one */
.vlightgray   { background-color: #F8F8F8 !important; }
.sandstone   { background-color: #ECE8E0 !important; }
 
span.codepoint   { font-family: monospace; }
span.charSample { font-size: 200%; }
span.name 	{ text-transform: lowercase; 
			font-variant: small-caps; font-size: 75%; }

span.section { font-style: italic; }
span.secno { font-style: italic; }

p.caption	 { page-break-after: avoid; font-weight: bold; text-align: center; }
p.rule		 { font-style:italic; background-color: #ECE8E0; }	
td.rule, th.rule	 { font-style:italic;  font-weight: 400 !important; padding: 3px !important; margin:2px !important; }
td.rule, th.rule	{ background-color: #ECE8E0 !important; border: 1px solid #F2F2F2 !important; }	


/* from UAX#29 */
.symbol      { font-size: 90%; font-family: Arial, Geneva, sans-serif; }
.example2    { background-color: #FFFF99; }
.charlist    { font-size: 90%; font-family: monospace; }
.pairItem    { text-align: Center; }
.lbclass     { text-align: Center; }


/* table related styles*/
table		{ border-spacing: 0; border-collapse: collapse;
			border-style: solid; border-color: black; border-width: 1px; }
th, td		{ border-spacing: 0; border-collapse: collapse;
			border-style: solid; border-color: black; border-width: 1px;
			font-family: Arial, Geneva, sans-serif;
			color: black; vertical-align: top; text-align: left; }
table.body	{ border-style: none; width: 100%; }
td.body		{ border-style: none; padding: 20px; }
caption		{ font-size: 120%; font-weight: bold; padding-bottom: 0.75em; }
td.icon 	{ border-style: none; border-width: 0; padding: 2px; margin: 0;
			background-color: #5555FF; color: white;
			font-size: 100%; text-align: left;
			font-weight: bold; font-family: Arial, Geneva, sans-serif; }
				
td.gray 	{ border-style: none; border-width: 0; padding: 0px; margin: 0;
			background-color: #EEEEFE; color: white;
			font-size: 6pt; }

/* various overrides for table styles */
table.header	{ border-style: none; border-width: 0; margin: 0; width: 100%; }
table.noborder th, table.noborder td	{ border-style: none !important; border-width: 0; margin: 0; }
.noborder	{ border-style: none !important; border-width: 0; margin: 0; }
.nb 		{ border-style: none !important; border-width: 0; margin: 0; }

table.border th, table.border td	{ border-style: solid !important; border-width: 1px; margin: 0; }
.border		{ border-style: solid !important; border-width: 1px; margin: 0; }

.nb th, .nb td		{ border-style: none !important; border-width: 0; margin: 0; }

.ref 		{ width: 92%; border-style: none; border-width: 0; margin: 0; padding: .33em; }


/* Tables should inherit from body, but do not seem to in NN */
a:link		{ color: #1A1A99; text-decoration:none; }
a:active	{ color: #1A1A99; }
a:visited	{ color: #0D0D64; text-decoration:none; }
a:hover 	{ text-decoration:underline; }

/* HEADERS and RELATED STYLES */
h1, h2, h3, h4, h5, h6 { font-weight: bold; margin-top: 8px; }
h1			{ font-size: x-large; text-transform: uppercase; text-align: center; }
h2			{ font-size: large; }
h2.nonumber { font-size: large; }
h2.uaxtitle	{ font-size: large; text-align:center; }
h3			{ font-size: medium; }
h4			{ font-size: medium; font-style: italic; }
h5			{ font-size: small; }
h6			{ font-size: small; font-style: italic; }

/* don't color links on headers and captions, unless hovering */
h2 a:link, h3 a:link, h4 a:link, h5 a:link, p.caption a:link, caption a:link,
h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, p.caption a:visited, caption a:visited {
    color:black; 
    text-decoration:none;
    }
h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, p.caption a:hover, caption a:hover {
    color: #1A1A99; 
    text-decoration:underline;
    }

/* run in headers  */
span.run_in	{ font-style:italic; font-weight: bold; }
span.note	{ font-style: italic; }


p.bar		{ background-color: #5555FF; color: white; font-size: 100%; font-weight: bold;
			font-family: Arial, Geneva, sans-serif; text-align: right; padding: 4px; }

a.bar:link	 { color: white; }
a.bar:visited { color: white; }
a.bar:active { color: white; }
a.bar:hover { color: #B0B0B0; }

/* some UAXs use h3 some h4 */
h4.summary { margin-top: 1em; }
h3.summary { margin-top: 1em; }

h4.contents {}
h4.status {}

 
/* link style for character class */
a.charclass { font-weight:bold; text-decoration: none; color: #808080 }

 
/* syntax coloring for C source code samples */
 
.CKeyword		{color: rgb(0,0,255); }
.CComment		{color: rgb(0,128,0); }
.CCommand		{ font-weight:bold; color: rgb(255,0,0); }


.changed	 	{ background-color: #FFFF00; border-style: dotted; border-width: 1px; }
.removed	 	{ text-decoration: line-through; background-color: #FFFF00; border-style: dotted; border-width: 1px; }
.changed2	 	{ background-color: #00FFFF; border-style: dotted; border-width: 1px; }
.removed2	 	{ text-decoration: line-through; background-color: #00FFFF; border-style: dotted; border-width: 1px; }

span.changedspan	{ background-color: #FFFF00; border-style: dotted; border-width: 1px; }
span.removedspan	{ text-decoration: line-through; background-color: #FFFF00; border-style: dotted; border-width: 1px; }

.reviewnote 	{ background-color: #FFFF80; color: #CC0000; border-style: dashed;
			border-width: 1px; }

 
 
/* table w/o a grid, except for lines in first and last row like in TR#25 */
 
table.gray	 { border-collapse: collapse; border-style: none; border-width: medium; }
 
th.grayfirst, td.grayfirst { border-left-style: none; border-left-width: medium; border-right-style: none; 
				border-right-width: medium; border-top: 1.5pt solid gray;
				border-bottom: .75pt solid gray; padding-left: 5.4pt;
				padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in }
th.graymiddle, td.graymiddle { border-style: none; border-width: medium; padding-left: 5.4pt; 
				padding-right:5.4pt; padding-top: 0in; padding-bottom: 0in; }

th.graylast, td.graylast { border-left-style: none; border-left-width: medium; border-right-style: none; 
				border-right-width: medium; border-top-style: none;
				border-top-width: medium; border-bottom: 1.5pt solid gray;
				padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in;
				padding-bottom: 0in; }


/* list styles that work well in table of contents */
ul.toc		{ list-style-position: outside; list-style-type: none; margin-left: 1em; margin-bottom: 0pt;
				margin-top: 0pt; line-height: 90%; }
 
ol.toc		{ list-style-type: decimal; margin-bottom: 0pt; }
 
ol ul.toc	{ list-style-position: outside; list-style-type: none; margin-left: 0em; margin-bottom: 0pt;
					margin-top: 0pt; line-height: 90%; }
 
ul ul.toc	{ list-style-position: outside; list-style-type: none; margin-left: 1.3em; margin-bottom: 0pt;
					margin-top: 0pt; line-height: 90%; }
ul.toc li 		{ margin-left: 0; }

/* prevent open circles starting bullets inside numbered points */
ol ul 		{ list-style-type: disc; }
ul.nobullet		{ list-style-type: none; }

/* is the preceding needed for web ? */
			
.right       { text-align: right; }
.left        { text-align: Left; }
.center      { text-align: center; }


/* UAX#14 specific styles, duplicated here in case they are applicable elsehwere */
table.pair		{ border:1px solid; font-size:8pt; }
table.pair th	{ text-align:center; font-size:8pt; }	
table.pair th.pairItem { background-color:#800080; }
.nb-la			{ width:7em; border-style: none; border-width: 0; padding-left: 0.2em; background-color:#ECE8E0; }
.nb-lb			{ border-style: none; border-width: 0; padding-left: 0.2em; background-color:#F0F0F0; }
td.nb-lb p		{ margin-left:0em; }

/* use some font styles conditionally */
span.mathsym1	{ }
span.mathsym2   { font-family: Arial, Geneva, sans-serif; }
span.mathsym3   { font-family:  Arial, Geneva, sans-serif; }
span.specials { font-size: smaller; }
span.symbol { font-size: 90%; font-family: Arial, Geneva, sans-serif } /* same as .symbol */

/* additional table styles from standard_styles.css */

/*simple - single pixel border, charcol lines */
/*subtle - same, but gray headers on gray background */
/* the -nb variants are the same but w/o borders */

table.simple { border-width:1px; border-style:solid; border-color:#A0A0A0;
                border-collapse:collapse; padding:0.2em; font-size:1em} 
		table.simple th { border-width:1px; border-style:solid; border-color:#A0A0A0;
                font-weight:bold; padding:5px; text-align: left; } 
		table.simple td {border-width:1px; border-style:solid; border-color:#A0A0A0;
                padding:5px; text-align: left;  }


table.subtle { border-width:1px; border-style:solid; border-color:#A0A0A0;
                border-collapse:collapse; padding:0.2em; font-size:1em} 
		table.subtle th { border-width:1px; border-style:solid; border-color:#A0A0A0;
                font-weight:bold; padding:5px; text-align: left; } 
		table.subtle td {border-width:1px; border-style:solid; border-color:#A0A0A0;
                padding:5px; text-align: left;  }


table.subtle-nb { border-style:none; border-width:0; border-collapse:collapse; } 
		table.subtle-nb th { border:solid 1px #F2F2F2;  font-weight:bold; padding:5px; text-align:left; } 
		table.subtle-nb td { border-style:none;  border-width: 0; font-weight:normal; padding:5px; text-align:left; }

table.subtle-nb table.subtle th { border-width:1px; border-style:solid; border-color:#A0A0A0;  } 
table.subtle-nb table.subtle td { border-width:1px; border-style:solid; border-color:#A0A0A0;  } 
table.subtle-nb table.simple th { color: #000000; background-color: #FFFFFF; /* was: #FFFFFF; */
	border-width:1px; border-style:solid; 
	border-color:#A0A0A0; }
table.subtle-nb table.simple td { border-width:1px; border-style:solid; border-color:#A0A0A0; }
table.subtle table.simple th { color: #000000; background-color:#FFFFFF; } /*was #FFFFFF */
		
table.subtle th         { color: #606060; background-color:#ECE8E0;} 
table.subtle-nb th      { color: #606060; background-color:#ECE8E0;} 
		
table.subtle th p       { color: #606060; background-color:#ECE8E0; } 
table.subtle-nb tr th p { color: #606060; background-color:#ECE8E0; } 

table.simple th p       { margin:0; } 
table.subtle th p       { margin:0; } 
table.subtle-nb th p    { margin:0; } 


/* first-child selector only works in IE if DOCTYPE has a URL (standards mode) */
/* the following remove space above first and below last paragraph (or list) inside a table cell, but preserve interparagraph spacing */

table.simple td>p:first-child { margin: 0; }
table.simple td>p             { margin-top: 1.5em; }

table.subtle td>p:first-child  { margin:0; }
table.subtle td>p              { margin-top:1.5em; } 

table.subtle-nb td>p:first-child { margin:0;  }
table.subtle-nb td>p             { margin-top:1.5em; } 

table.simple td>ul:first-child { margin-top:0; margin-bottom:0; }
table.simple td>ol:first-child { margin-top:0; margin-bottom:0; }
table.simple td>ul             { margin-top:1.5em; margin-bottom:0.5em; }
table.simple td>ol             { margin-top:1.5em; margin-bottom:0.5em; }

table.subtle td>ul:first-child { margin-top:0; margin-bottom:0; }
table.subtle td>ol:first-child { margin-top:0; margin-bottom:0; }
table.subtle td>ul             { margin-top:1.5em; margin-bottom:0.5em; }
table.subtle td>ol             { margin-top:1.5em; margin-bottom:0.5em; }

table.subtle-nb td>ul:first-child { margin-top:0; margin-bottom:0; }
table.subtle-nb td>ol:first-child { margin-top:0; margin-bottom:0; }
table.subtle-nb td>ul             { margin-top:1.5em; margin-bottom:0.5em; }
table.subtle-nb td>ol             { margin-top:1.5em; margin-bottom:0.5em; }

/* override the default padding use with table style "simple" */
table.nopad { padding: 0; }
table.nopad th, table.nopad td { padding:0;} 

table.loose th, table.loose td { padding-top: 8px; padding-bottom: 8px; }

/* override for no-border cells in the middle of standard tables - hide-borders also affects row borders between adjacent cells of same class*/
.hide-borders { border-left:hidden !important; border-right:hidden !important; border-top:none !important; border-bottom:none!important; }
.hide-side-borders { border-left:hidden !important; border-right:hidden !important; }
