table        { border-spacing: 0; border-collapse: collapse; width: 100%; 
               border: 1px solid black }
td, th       { width: 10%; border-spacing: 0; border-collapse: collapse; color: black; 
               vertical-align: top; border: 1px solid black }
.sidebar     { width: 30% }
dt           { text-indent: -1em; margin-left: 1em }
li           { margin-top: 0.5em }
h2           { text-decoration: underline; margin-top: 2em }
h3           { margin-top: 1.5em }
.nosides     { border: 0px solid black }


