
body {
	margin:  1em;
}

h1,h2.h3,h4 {
	font-family: Georgia, "Times New Roman", Times, serif;
}

h1 a,h2 a,h3 a,h4 a {
	font-family: Georgia, "Times New Roman", Times, serif;
}


ol.toc {
	list-style-type: lower-roman;
}

h2 {
	border-top:  4px solid black;
}

h2 a {
	text-decoration: none;
	color:  black;
	font-variant: small-caps;
	font-size: x-large;
}

p {
	text-indent: 1em;	
}


/* dir structure */
div.dirstruct {
	border:  1px solid black;
}

div.dirstruct ul li tt {
	font-family: "Courier New", Courier, mono;
}


div.dirstruct ul li info {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	left:  50%;
	position: absolute;
}

div.dirstruct ul li.obsolete {
	text-decoration: line-through;
}

a.top:hover {
	text-decoration: underline;
	color: blue;
}

a.top:hover:after {
	
	content: " (Go to Top)";
}

ol ul li {
	margin-bottom: .8em;
	list-style-type: square;
}

