extends layout


block content
  h1= SurveyWatcher
  p Welcome to the SurveyWatcher. Charts are back!
  hr
  div(id='statusdiv')
        i(id='status') Initializing
  div(id='SurveyWatcher')
  hr
  button(onclick='update()') (update)
  i(id='age')
  hr
  h2(id='chartTitle') Charts
  i(id='chartstatus') click a history link above to view charts
  div(id='SurveyChart')
      p (no chart loaded) 
  p blue is load, black is user count. vertical red is outage. scroll wheel or Ctrl-"+" / Ctrl-"-" to zoom. dbl click to reset.
  p chart does not reload unless you click the history button again.
  hr
  i(id='powered') Powered by node.js #{process.version}, Express.js.  Running on 
    a(href='http://bluemix.net') IBM Bluemix
  i  *
  i
      a(href='#{ui.mainurl}') Return
