doctype html
html
  head
    title= ui.title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//ajax.googleapis.com/ajax/libs/dojo/1.9.3/dojo/dojo.js')
    script window.default_stw_config = { reloadMode: false, jsonurl: '/latest.json', polltime: 30};
    
    script(src='/javascripts/stwatcher-client.js')
  body
    block content

//- block footer