WHAT IS THIS DIRECTORY
---

This directory has the configuration data for the CLDR Survey Tool.

For more on CLDR: <http://cldr.unicode.org>

- {{ cldr_trunk_path }}: this is a checkout of the CLDR source repo, from <https://github.com/unicode-org/cldr.git>
- {{ cldr_path }}: this contains configuration info for the Survey Tool.
