table       { 
    border-spacing: 0; 
    border-collapse: collapse;
    border-style: solid; 
    border-color: white; 
    border-width: 0px;
    width: 100%;
}
th, td      { 
    vertical-align: top;
}
th     { 
    background-color:#DDDDDD;
}
