table {
    border-collapse: collapse
}
caption           { 
    font-size: 150%; 
    margin-top: 2em
}
td, th {
    vertical-align: top;
    text-align:left
}
td.source, th.source, span.source { 
    border: 1px solid #666666; 
    background-color: #FCFCFC;
}
td.source-image { 
    border: 1px solid #666666; 
    background-color: #FCFCFC;
    text-align: center;
    font-size: 200%; 
}

td.target, th.target, span.target, td.targetRight, td.target2, td.target3, td.target4, td.target_nofont{ 
    border: 1px solid #666666; 
    background-color: #FCFFFC 
}
td.target_nofont {
	/* font-family: sans-serif; */
	line-height: 150%;
}
th.source      {
    background-color: #DDDDDD 
    }
th.target    {
    background-color: #ddFFdd 
    }

td.target2    {
    color:blue 
    }
td.target3    { 
    background-color:#FFFFF8 
    }
td.target4    { 
    background-color:#F8FFFF
     }
td.targetRight    { 
    text-align:right 
    }

td.z0      { 
    border: 1px solid #666666; 
    background-color: #FCBBFC 
    }
td.z1      { 
    border: 1px solid #666666; 
    background-color: #FCCCFC 
    }
td.z2      { 
    border: 1px solid #666666; 
    background-color: #FCDDFC; 
    vertical-align: middle 
    }
td.z3      { 
    border: 1px solid #666666; 
    background-color: #FCEEFC; 
    vertical-align: middle 
    }
td.z4      { 
    border: 1px solid #666666; 
    background-color: #FCFFFC; 
    vertical-align: middle 
    }

h2, h3, h4 {text-align: left}
td.l, td.z, td.o, td.t, td.f, td.m, td.x, th.h, table.pluralComp {border: 1px solid #666; font-size: 8pt}
table.pluralComp {border-collapse:collapse}
th.h {background-color:#EEE; border-top: 2px solid #000; border-bottom: 2px solid #000; text-align: center; font-size: 6pt}
td.l {background-color:#EFE; border-top: 2px solid #000}
td.z {background-color:#F00}
td.o {background-color:#DD0}
td.t {background-color:#0F0}
td.f {background-color:#0DD}
td.m {background-color:#99F}
td.x {background-color:#CCC}
td.c01 {text-decoration:underline}
td.sample {font-size:200%; text-align:center}

.nowrap {white-space: nowrap}

.notTailored {
    color: #888888;
}

.notExemplars {
    color: #c0ffee;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
  }
  
td.plain {
	padding-top:0.3em;
	padding-right:1em;
}