table {border-collapse:collapse}
td,th {border:1px solid blue; vertical-align:top}
.s {background-color:#DDD}
.ch {text-align:center; font-size:150%}
.c {text-align:center; font-family:monospace}
.n {font-size:75%}
.k {width:30%;font-size:75%}
.x {text-align:center; background-color:#CCC; width:1em}
.m {text-align:center; background-color:#EDE; width:1em}
.h {text-align:center; background-color:#EFE; width:1em}
.keyboards {}
.keyboardTD {text-align:center; border-style:none}
.keyboard {margin:0.5em}
.modifiers {font-size:75%}
.cc {font-size:50%; font-weight:bold; color:red}
