/* mirror of div.body */
section.body {
    margin: 3em;
}

header {
    width: "100%";
    background-color: #5555ff;
    border-bottom: 0.5em solid #EEEEFE;
    padding: 0.5em;
}

header div.navparent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header .navparent  a.icon {
    display: table-cell;
    margin-top: 40;
}

header .navparent > div {
    display: table-cell;
}

header .title {
    display: table-cell;
    color: yellow;
    font-size: 1.5em;
}

header .nav, header .nav > div {
    display: inline;
}

header .nav a {
    color: white;
}

header .nav ul b {
    color: gray;
}

header .nav .crumb {
    color: white;
    margin: .5em;
}

header .nav ul {
    display: inline-flexbox;
    width: 90%;
}

header .nav ul li {
    display: inline-flex;
    padding: .5em;
    margin: 0;
}

header .message {
    color: lightblue;
    display: list-item;
}

footer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-top: 0.5em solid #eeeefe;
    font-size: smaller;
}


/* copied from tr35.css */

.markdown-alert {
    border-left: 0.25em;
    padding-left: .5em;
    border-left-style: solid;
}

.markdown-alert-title {
    font-weight: bold;
}

.markdown-alert-title svg {
    margin-right: .5em;
}

.markdown-alert-note {
    border-color: blue;
}

.markdown-alert-note .markdown-alert-title {
    color: blue;
}

.markdown-alert-important {
    border-color: blueviolet;
}

.markdown-alert-important .markdown-alert-title {
    color: blueviolet;
}
