#!/bin/bash

DATABASE_NAME={{ cldr_database_name }}
SQL_FULL_PATH_NAME={{ cldr_tmp_drive }}/{{ cldr_database_name }}-DUMP-`date +%Y-%m-%d`.sql

mysql ${DATABASE_NAME} --show-warnings --default-character-set=utf8mb4 < ${SQL_FULL_PATH_NAME}
mysql ${DATABASE_NAME} --show-warnings --default-character-set=utf8mb4 < redact-db.sql
rm ${SQL_FULL_PATH_NAME}
