name: cldr-mvn

on:
  push:
    branches:
    - '*'
  pull_request:
    branches:
    - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.3
        with:
          lfs: true
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1.4.2
        with:
          java-version: 1.8
      - name: Cache local Maven repository
        uses: actions/cache@v2.1.1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('tools/**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Build with Maven
        run: >
          mvn -s .github/workflows/mvn-settings.xml -B package --file tools/pom.xml
          -DskipTests=true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup MySQL
        run: |
          sudo systemctl start mysql.service
          sleep 3
          mysql --user=root --password=root < tools/cldr-apps/test-setup.sql
      - name: Test with maven
        run: >
          mvn -s .github/workflows/mvn-settings.xml -B test --file tools/pom.xml
          '-Dorg.unicode.cldr.unittest.web.jdbcurl=jdbc:mysql://cldrtest:VbrB3LFCr6A!@localhost/cldrtest?useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC'
          '-Dorg.unicode.cldr.unittest.web.KeepDb=true'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

